@import "./_vars";


$out-of-range-color:lighten(#2b3553, 10%) !default;
$out-of-range-bg-color: transparent !default;

$calendar-border: #ddd !default;
$cell-border: #2b3553 !default;

$border-color: #2b3553 !default;

$segment-width: percentage(1 / 7) !default;

$time-selection-color: white !default;
$time-selection-bg-color: rgba(0, 0, 0, 0.5) !default;
$date-selection-bg-color: rgba(0, 0, 0, 0.1) !default;

$event-bg: $danger !default;
$event-bg-image: linear-gradient(15deg,$danger-states, $danger) !default; 
$event-border:#344675 !default;
$event-outline: #344675 !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$btn-color: #373a3c !default;
$btn-bg: #fff !default;
$btn-border: #ccc !default;

$current-time-color: #74ad31 !default;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: #2b3553 !default;
$today-highlight-text: #fff !default;

$cell-date-color: #fff;

// Header settings
$header-text: hsla(0, 0%, 100%, 0.4)!default;
$main-date: rgba(255, 255, 255, 0.6) !default;
$header-btn-bg: #3358f4 !default;
$header-btn-bg-image:linear-gradient(15deg,$danger-states, $danger) !default; 
